/**
 * ----------------------------------------
 * animation  slide-top
 * ----------------------------------------
 */

@keyframes slide-top {
    0% {
        filter: blur(66px);
        opacity: 0.33;
        transform: translateY(-666px);
    }

    100% {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-top-enter {
    animation: slide-top var(--kg-time-sm) cubic-bezier(0.23, 1, 0.32, 1) both;
    animation-delay: var(--kg-time-xs);
}

.slide-top-exit {
    animation: slide-top var(--kg-time-sm) ease-in both;
    animation-direction: reverse;
}

/**
 * ----------------------------------------
 * animation  backdrop-fade
 * ----------------------------------------
 */

@keyframes backdrop-fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.backdrop-fade-enter {
    &::backdrop {
        animation: backdrop-fade var(--kg-time-md) ease-in both;
    }
}

.backdrop-fade-exit {
    &::backdrop {
        animation: backdrop-fade var(--kg-time-md) ease-in both;
        animation-delay: var(--kg-time-xs);
        animation-direction: reverse;
    }
}

/**
 * ----------------------------------------
 * animation  slide-bottom
 * ----------------------------------------
 */

@keyframes slide-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(1000px) translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

@keyframes slide-out-bottom {
    0% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateY(1000px) translateX(-50%);
    }
}

.slide-bottom-enter {
    animation: slide-in-bottom var(--kg-time-sm) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-bottom-exit {
    animation: slide-out-bottom var(--kg-time-sm) cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-bottom-enter-done {
    transform: translateX(-50%);
}

.slide-bottom-exit-done {
    opacity: 0;
    transform: translateY(1000px) translateX(-50%);
}

/**
 * ----------------------------------------
 * animation  slide-left
 * ----------------------------------------
 */

@keyframes slide-in-left {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.slide-left-enter {
    animation: slide-in-left var(--kg-time-sm) ease-out both;
    transform: translate(-100%, 0);
}

.slide-left-enter-done {
    transform: translate(0, 0);
}

.slide-left-exit {
    animation: slide-out-left var(--kg-time-sm) ease-out both;
}

.slide-left-exit-done {
    transform: translate(-100%, 0);
}

/**
 * ----------------------------------------
 * animation  slide-right
 * ----------------------------------------
 */

@keyframes slide-in-right {
    0% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes slide-out-right {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100%, 0);
    }
}

.slide-right-enter {
    animation: slide-in-right var(--kg-time-sm) ease-out both;
    transform: translate(100%, 0);
}

.slide-right-enter-done {
    transform: translate(0, 0);
}

.slide-right-exit {
    animation: slide-out-right var(--kg-time-sm) ease-out both;
}

.slide-right-exit-done {
    transform: translate(100%, 0);
}

/**
 * ----------------------------------------
 * animation scale-in
 * ----------------------------------------
 */

@keyframes scale-in {
    0% {
        filter: blur(42px);
        opacity: 0;
        transform: scaleY(0);
    }

    100% {
        filter: blur(0);
        opacity: 1;
        transform: scaleY(1);
    }
}

.scale-in-enter {
    animation: scale-in var(--kg-time-sm) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: var(--kg-time-xs);
}

.scale-in-exit {
    animation: scale-in var(--kg-time-sm) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-direction: reverse;
}
