@import url("@/lib/Layout/customMedia.css");

/* Action list style. Has to be separate file to avoid conflicts with single action */

.actions {
    max-width: 240px;

    & .action-row {
        & .primary-action,
        & .inverted-action {
            &:not(:only-child, :last-child) {
                border-right: var(--fg-border-width-100) solid var(--fg-background-100);
            }
        }
    }
}

.primary-action {
    --icon-size: calc(var(--fg-size-unit) * 3);

    color: var(--fg-color-sol);
    font-size: var(--fg-font-size-small);
    justify-content: start;
}

.inverted-action {
    --icon-shadow: drop-shadow(var(--fg-text-shadow));
    --icon-size: calc(var(--fg-size-unit) * 3);

    color: var(--fg-background-000);
    font-size: var(--fg-font-size-small);
    justify-content: start;
    text-shadow: var(--fg-text-shadow);

    &:hover {
        background: var(--fg-color-re);
    }
}
