.icon {
    display: block;
    fill: currentcolor;
    height: calc(var(--sizeUnit) * 4);
    width: calc(var(--sizeUnit) * 4);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.rotation {
    animation: spin 1s linear infinite;
}

.error {
    color: var(--colorError);
}

.valid {
    color: var(--colorSuccess);
}

.loading {
    color: var(--colorAction);
}
