.icon {
    display: block;
    fill: currentcolor;
    height: calc(var(--fg-size-unit) * 4);
    width: calc(var(--fg-size-unit) * 4);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.rotation {
    animation: spin 1s linear infinite;
}

.error {
    color: var(--fg-color-error);
}

.valid {
    color: var(--fg-color-success);
}

.loading {
    color: var(--fg-color-action);
}
